body {
  background-color: #FFD1A4;
  font-family: '標楷體', sans-serif;
}

p {
  width: 70vw;
  font-size: 1.3em;
  text-indent: 2em;
}

h1 {
  text-align: center;
}

.center {
  margin-left: 32%;
}