@media (orientation:portrait) {
  .pic{
    margin-top: 40vw;
    width:71vw;
    height:61vw;
    background-color: #e0e0e0;
    border: 0.5vw solid #f1f2f2;
    position:relative;
  }

  img{
    width: 70vw;
    height: 60vw;
  }

  h2{
    text-align:center;
    font-size:10vw;
    margin-top:8vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 0em;
  }

  h3{
    text-align:center;
    font-size:8vw;
    margin-top:0vw;
    padding: 0vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 0.5em;
  }
}
