@charset "utf-8";
/* CSS Document */
#about{
	display: flex;
}

.con{
	margin-bottom: 10vh;
}
.con-bg{
	background: linear-gradient(#166eb7,white);
}
#chefinformation{
	display: block;
}

.chef img{
	margin-top: 5vh;
	width: 80vh;
	border-radius: 5px;
	box-shadow: 5px 5px 8px 10px rgba(5,5,5,0.3);
}
.chefname{
	text-align: center;
	margin-top:2vh;
}
.present img{
	margin-top: 5vh;
	width:30vw;
	height: 70vh;
	background: #ffffef;
	margin-left: 40vw;
}
.presetnt p{
	margin-top: 3vh;
}


#p1{
	left: 45vw;
	top: 35vh;
	position: absolute;
	font-size: 2vw;
	font-family: 'candy';
		
	
}
#p2{
	left: 45vw;
	top: 40vh;
	position: absolute;
	font-size: 2vw;
	font-family: 'candy';
	

}
#p3{
	left: 45vw;
	top: 47vh;
	position: absolute;
	font-size: 2vw;
	font-family: 'candy';
	

}
#p4{
	left: 45vw;
	top: 52vh;
	position: absolute;
	font-size: 2vw;
	font-family: 'candy';
	
}
#p5{
	left: 45vw;
	top: 57vh;
	position: absolute;
	font-size: 2vw;
	font-family: 'candy';
	

}
#p6{
	left: 46vw;
	top: 62vh;
	position: absolute;
	font-size: 2vw;
	font-family: 'candy';
	
}
#p7{
	left: 59vw;
	top: 67vh;
	position: absolute;
	font-size: 1.5vw;
	font-family: 'candy';
	
}
.r{
	margin-left: 10vw;
	margin-right: 10vw;
}

@media(orientation: portrait){
	
	.present img{		
		width:80vw;
		margin-left: 5vw;
	}
		
	#p1{
		left: 10vw;
		top: 15vh;
		position: absolute;
		font-size: 5vw;
		
			
		
	}
	#p2{
		left: 10vw;
		top: 20vh;
		position: absolute;
		font-size: 5vw;
		
		
	
	}
	#p3{
		left: 10vw;
		top: 27vh;
		position: absolute;
		font-size: 5vw;
		
		
	
	}
	#p4{
		left: 10vw;
		top: 35vh;
		position: absolute;
		font-size: 5vw;
		
		
	}
	#p5{
		left: 10vw;
		top: 42vh;
		position: absolute;
		font-size: 5vw;
		
		
	
	}
	#p6{
		left: 11vw;
		top: 45vh;
		position: absolute;
		font-size: 5vw;
		
		
	}
	#p7{
		left: 23vw;
		top: 50vh;
		position: absolute;
		font-size: 4vw;
		
		
	}
	
}