@charset "utf-8";
/* CSS Document */
.footer{
	background-color:#eb6100;
	color:white;
	padding-top: 40px;
	padding-bottom: 10px;
	font-family: 'ngaan';	
}
.form-control{
	margin-top:10px;
}
#time{
	display: block;
	font-size: 1vw;
}
#time h5{
	font-size:1.5vw;
}
#location{
	display: block;
	font-size: 1vw;
}
#location h5{
	font-size:1.5vw;
}
#question{
	display: block;
}
#time-rwd{
	display: none;
}
#location-rwd{
	display: none;
}
#question-rwd{
	display: none;
}
#copyright{
	margin-top: 1vh;
	font-size:1vw;
}
@media(orientation:portrait){
	#time{
		display: none;
	}
	#location{
		display: none;
	}
	#question{
		display: none;
	}
	#time-rwd{
		display: block;
	}
	#location-rwd{
		display: block;
	}
	#question-rwd{
		display: block;
	}
	#copyright{
		font-size:3vw;
	}
}