@charset "utf-8";



#moonfes{
	background:linear-gradient(#166eb7,#112f8b);
	width: 100vw;		
}



#gress{	
	width: 100vw;
	z-index: 2;
}

#rabbit{
	top: 91vh;
	right: 5vw;
	position: absolute;
	transform: rotate(20deg);
	z-index: 1;
}
#moon{
	right: 20vw;
	position: absolute;
}
#c-l{
	right: 28vw;
	top: 54vh;
	transform: rotate(5deg);
	position: absolute;	
}

#c-r{
	right: 19vw;
	top: 55vh;
	position: absolute;
}
#bug12{
	left: 4vw;
	top: 107vh;
	position: absolute;
	z-index: 1;
}
#bug1{
	left: 10vw;
	top: 110vh;
	position: absolute;
	z-index: 3;
}
#bug2{
	left: 20vw;
	top: 108vh;
	position: absolute;
	z-index: 3;	
}
#bug8{
	left: 31vw;
	top: 105vh;
	position: absolute;
	z-index: 1;
}
#bug3{
	left: 43vw;
	top: 106vh;
	position: absolute;
	z-index: 3;
}
#bug10{
	left: 52vw;
	top: 103vh;
	position: absolute;
	z-index: 1;
}
#bug4{
	left: 58vw;
	top: 106vh;
	position: absolute;
	z-index: 3;
}
#bug5{
	left: 65vw;
	top: 107vh;
	position: absolute;
	z-index: 1;
}
#bug9{
	left: 70vw;
	top: 104vh;
	position: absolute;
	z-index: 3;
}
#bug6{
	left: 78vw;
	top: 105vh;
	position: absolute;
	z-index: 1;
}
#bug7{
	left: 87vw;
	top: 109vh;
	position: absolute;
	z-index: 3;
}
#bug11{
	left: 95vw;
	top: 103vh;
	position: absolute;
	z-index: 3;
}

.content{
	background:linear-gradient(#0d8346,#ebf0ef);
	min-height: 100%;	
	}

.con-title{
	font-family: "candy";	
	font-size: 5vw;
}
.price{
	font-weight: 500;
}
.card{
	background: #FFF0F5;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 5px rgba(2,2,2,0.2);
	color: black;
	font-family: 'ngaan';
	font-size: 1.1vw;
	margin-top: 5vh;
	margin-left: 1vw;
}
.card-title{
	font-size:2vw;
}
.card .card-img-top{
	margin-top: 2vw;
	border-radius: 5px;
	background: white;
	width: 15vw;
	height: 25vh;	
}
.card-text{
	display: block;
	height: 20vh;
}
.btn{
	font-size:1vw;
}

.mb{
	margin-top: 20vh;
}


.run{
	animation-name: hor;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-iteration-count: infinite;	
	transform-origin: right;	
}
.run img{
	animation-name: ver;
	animation-timing-function: cubic-bezier(.51,.2,.85,.55);
	animation-duration: 10s;
	animation-iteration-count: infinite;
	
}
@keyframes hor{
	0%{
		transform: translateX(110vw);
	}
	100%{
		transform: translateX(0vw);
	}
}
	
@keyframes ver{
	0%{		
		transform: translateY(-14vh);
		
	}
	10%{
		transform: translateY(-52vh);
		
	}
	20%{		
		transform: translateY(-21vh);
		
	}
	30%{
		transform: translateY(-54vh);
	}
	40%{		
		transform: translateY(-23vh);
	}
	50%{
		transform: translateY(-56vh);
	}
	60%{		
		transform: translateY(-22vh);
	}
	70%{
		transform: translateY(-54vh);
	}
	80%{		
		transform: translateY(-19vh);
	}
	90%{
		transform: translateY(-52vh);
	}
	100%{		
		transform: translateY(-21vh);		
		
	}
}


.rolmoon{
	animation-name: rolmoon;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 3s;
	animation-direction: alternate;
}
@keyframes rolmoon{
	0%{
		transform: rotate(10deg);
	}
	50%{
		transform:rotate(0deg)
	}
	100%{
		transform: rotate(-10deg);
	}
}

@media (orientation:portrait){

	#moonfes{
		width:100vw;
	}
	.con-title{			
		font-size: 10vw;
	}
	.card .card-img-top{
		width: 30vw;
		height: 10vh;
	}
	.card{		
		font-size: 1.1vw;
		margin-top: 5vh;
		margin-left: 1vw;
	}
	.card-title{
		font-size:5vw;
	}
	.card-text{
		display: none;
	}
	.btn{
		font-size:2vw;
	}
	#gress{	
		width: 100vw;
		
	}
	#moon{
		width:20vw;
	}
	#c-l{
		width: 15vw;		
		top: 12vh;
		right: 30vw;			
	}
	
	#c-r{
		width: 15vw;		
		top: 13vh;
		right: 18vw;		
	}
	#rabbit{
		width:15vw;
		top: 35vh;		
		right: 5vw;
		
	}
	#bug12{
		width:5vw;		
		top: 27vh;
		
	}
	#bug1{
		width:5vw;		
		top: 25vh;
		
	}
	#bug2{
		width:5vw;
		top: 26vh;
			
	}
	#bug8{
		width:5vw;
		top: 25vh;		
	}
	#bug3{
		width:5vw;
		top: 23vh;		
	}
	#bug10{
		width:5vw;
		top: 23vh;		
	}
	#bug4{
		width:5vw;
		top: 24vh;
	}
	#bug5{
		width:5vw;
		top: 26vh;
	}
	#bug9{
		width:5vw;
		top: 24vh;
	}
	#bug6{
		width:5vw;
		top: 25vh;		
	}
	#bug7{
		width:5vw;
		top: 27vh;
	}
	#bug11{
		width:5vw;
		top: 26vh;
	}
	

	@keyframes ver{
		0%{		
			transform: translateY(-21vh);
			
		}
		10%{
			transform: translateY(-30vh);
			
		}
		20%{		
			transform: translateY(-22vh);
			
		}
		30%{
			transform: translateY(-31vh);
		}
		40%{		
			transform: translateY(-22vh);
		}
		50%{
			transform: translateY(-33vh);
		}
		60%{		
			transform: translateY(-22vh);
		}
		70%{
			transform: translateY(-27vh);
		}
		80%{		
			transform: translateY(-21vh);
		}
		90%{
			transform: translateY(-28vh);
		}
		100%{		
			transform: translateY(-21vh);		
			
		}
	}

}



