@charset "utf-8";
/* CSS Document */
.bg-night{
	background:linear-gradient(#0f5087,#166eb7);
}
.con-bg{
	background: linear-gradient(#166eb7,white);
}
.con{
	margin-bottom: 10vh;
}
.card{
	background: #DDDBDB;
	border-radius: 10px;
	box-shadow: 5px 5px 10px 5px rgba(2,2,2,0.2);
	color: black;
}
.card .card-img-top{
	margin-top: 10px;
	border-radius: 5px;
}


.r1{
margin-bottom: 15vh;
	margin-left: 10vw;
	margin-right: 10vw;	
}
.r{

	margin-left: 10vw;
	margin-right: 10vw;
}

